<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Profile</title>

    <!-- Bootstrap CSS -->    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="css/elegant-icons-style.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
  </head>

  <body>
  <!-- container section start -->
  <section id="container" class="">

      <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
            </div>

            <!--logo start-->
            <a href="home" class="logo">SAEBOM <span class="lite"> PARK</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">                    
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Search" type="text">
                        </form>
                    </li>                    
                </ul>
                <!--  search form end -->                
            </div>

            
      </header>      
      <!--header end-->

      <!--sidebar start-->
       <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">
                      <a class="" href="home">
                          <span>HOME</span>
                      </a>
                  </li>              
                  <li class="active">
                      <a href="javascript:;" class="">
                          <span>About</span>
                      </a>
                      <ul class="sub">                          
                          <li><a class="" href="profile">Profile</a></li>
                          <li><a class="" href="works">Works</a></li>
                      </ul>
                  </li>
                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
		  <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"> Profile</h3>
					<ol class="breadcrumb">
						<li><a href="home">Home</a></li>
						<li>About</li>
						<li><a href="profile">Profile</a></li>
					</ol>
				</div>
			</div>
              <div class="row">
                <!-- profile-widget -->
                <div class="col-lg-12">
                    <div class="profile-widget profile-widget-info">
                          <div class="panel-body">
                            <div class="col-lg-2 col-sm-2">
                              <h4>박새봄</h4>               
                              <div class="follow-ava">
                                  <img src="" alt="">
                              </div>
                              <h6>Saebom Park</h6>
                            </div>
                            <div class="col-lg-8 follow-info">
                                <p>안녕하세요, 박새봄입니다.</p> <p>웹프로그래밍개론 수업에서 제작한 페이지입니다.><</p>
                                <p></p>
                                <ul>
                                <li><p>학번 : 2012-10061 </p></li>
                                <li><p>전공 : 독어독문학과 </p></li>
                                <li><p>연락 : saebompark@naver.com</p></li>
                                </ul>
                                <h6>
                                    <span>1993.09.02</span>
                                    <span>South Korea</span>
                                </h6>
                            </div>
                          
                          </div>
                    </div>
                </div>
              </div>
              <!-- page start-->
              <div class="row">
                 <div class="col-lg-12">
                    <section class="panel">
                          
                          <div class="panel-body">
                              <div class="tab-content">
                                  <div>
                                    <section>
                                      <div class="bio-graph-heading">
                                                Hello, Nice to meet YOU!
                                      </div>
                                      <div class="panel-body bio-graph-info">
                                          <h1>More...</h1>
                                          <div class="row">
                                        
                                              <div class="bio-row">
                                                  <p><span>좋아하는 것</span>: 고기, 여행, 동물</p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>취미 </span>: 영상 제작</p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>주소 </span>: 서울시 송파구 잠실2동 --- </p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>핸드폰 번호 </span>: 010-4094-0902</p>
                                              </div>
                                          </div>
                                      </div>
                                    </section>
                                      <section>
                                          <div class="row">                                              
                                          </div>
                                      </section>
                                  </div>
                              </div>
                          </div>
                      </section>
                 </div>
              </div>

              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
  </section>
  <!-- container section end -->
    <!-- javascripts -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- jquery knob -->
    <script src="assets/jquery-knob/js/jquery.knob.js"></script>
    <!--custome script for all page-->
    <script src="js/scripts.js"></script>

  <script>

      //knob
      $(".knob").knob();

  </script>


  </body>
</html>
